#Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive
!mkdir logistic_data

/content/drive/MyDrive
mkdir: cannot create directory ‘logistic_data’: File exists

In [ ]:
!pwd

/content/drive/MyDrive

In [ ]:
train_path = '/content/drive/MyDrive/logistic_data/emnist-letters-train.csv'
test_path = '/content/drive/MyDrive/logistic_data/emnist-letters-test.csv'

train = pd.read_csv (train_path,header=None)
test = pd.read_csv (test_path,header=None)

#Declaration

## Reducing Training Dataset

In [ ]:
pd.DataFrame(train)

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88795,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88796,21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88797,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88798,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88799,12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# sorting training dataset

#new_train = train[np.argsort((train[:, 0]))].values

#pd.DataFrame(new_train)

In [ ]:
# slicing data

#new_train = new_train[0:64782,:]

#pd.DataFrame(new_train)

In [ ]:
# converting train DataFrame to array

train = np.array(train) 

# Getting X and Y arrays

X = train [:, 1:]
Y = train [:, 0] # first column is label

# Reshaping Y 

Y = Y.reshape((X.shape[0],1))

In [ ]:
# test data

test_data = np.array(test)
Y_test = test_data [: , 0].reshape(test_data.shape[0],1)
X_test = test_data [: , 1:]

In [ ]:
print(X.shape) # columns should be 784 since 28 * 28 = 784
print(Y.shape)
print(X_test.shape) # columns should be 784 since 28 * 28 = 784
print(Y_test.shape)

(88800, 784)
(88800, 1)
(14800, 784)
(14800, 1)

In [ ]:
# feature scaling

X = X / 300

pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#Functions

In [ ]:
K = 121 # sqrt of 14800
y_pred = [] # list for predicted Y value

In [ ]:

  
for i in range(100):   # here let's take 100 rows of X_test

  dist_list = []
 

  for j in range(64781): #taking only upto 19 Y value consideration for train data = 64781

        
      distance = np.sqrt( np.sum( (X[j,:] - X_test[i,:])**2 )  )

      dist_list.append((distance, Y[j])) # updating cost Function list

  dist_list_sorted = np.array(sorted(dist_list)[0:K]) # getting minimum 121 data

  y_near = (dist_list_sorted[:,1]) #getting the nearest 121 values

  count = np.zeros(27,) # counting the majority of near values

  i = 1

  for i in range(y_near.shape[0]):
    r = y_near[i]
    count[r,] = count[r,] + 1

  y_nearest = np.where(count == np.amax(count)) # finding the nearest value
  y_pred.append(y_nearest) # updating y_pred list

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  from ipykernel import kernelapp as app

In [ ]:
pd.DataFrame(y_pred)

       0
0    [1]
1    [1]
2    [1]
3   [15]
4    [1]
..   ...
95  [15]
96  [15]
97   [1]
98   [5]
99   [1]

[100 rows x 1 columns]

In [ ]:
pred_data = 0
j = 0

y_pred = np.array(y_pred)

for j in range(y_pred.shape[0]):

  if y_pred[j,] == Y_test[j,]:
    pred_data = pred_data + 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.

In [ ]:
print(pred_data)

68

In [ ]:
total_data = 100 # since we chose only 100 rows

accuracy = (pred_data / total_data) * 100

print("Accuracy is" , accuracy , "%")

Accuracy is 68.0 %

In [ ]:
# for 100 iterations,  accuracy = 68 % time = 2 min 30 sec
# for 10 iterations, accuracy = 90 %